@import '../../index.scss';

.rm-dashboard {
  min-width: 250px;
  text-align: center;

  .rm-dashboard-content {
    display: flex;
    align-items: baseline;
  }
}

@media (min-width: $breakpoint-s) {
  .rm-dashboard {
    width: 500px;
    margin: 5% auto;
  }
}