@import '../../index.scss';

div.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $color;

  .App-link {
    color: $accent-color;
  }

  article {
    min-width: 500px;

    ul {
      list-style: none;
      padding: 0;
  
      li {
        padding: 5px;
      }
    }

    div.BusyContainer {
      position: relative;
      height: 50px;
    }
  }

}
