@import '../../index.scss';

.rm-profile {
  min-width: 15rem;
  text-align: center;

  .rm-profile-content {
    display: flex;
    align-items: stretch;
    flex-direction: column;
  }
}

@media (min-width: $breakpoint-s) {
  .rm-profile {
    margin: 5% auto;

    .rm-profile-content {
      flex-direction: row;
      align-items: baseline;
      justify-content: center;
      
      > * {
        width: 25rem;
      }
    }
  }
}