@import '../../index.scss';

.rm-form {      
  display: block;

  & > form {
    width: 100%;
    
    & > div {
      margin: 1rem;

      & > div {
        display: block;
      }

      input[type=text], input[type=email], input[type=password] {
        width: 100%;
      }

      input[type=submit], ui5-button {
        float: right;
      }
    }
  }
}

.rm-form-touched {
  .rm-input {
    > input[type=text], > input[type=email], > input[type=password] {
      &:not([readonly]) {
        &:invalid {
          border-style: var(--_ui5_input_error_warning_border_style);
          background-color: var(--sapField_InvalidBackground);
          border-color: var(--_ui5-input-value-state-error-border-color);
          background-image: var(--_ui5-input-error-background-image);
          background-size: 100% var(--sapField_InvalidBorderWidth);
          background-repeat: repeat-x;
          background-position: center bottom;
          border-width: var(--_ui5_input_state_border_width);
          
          & + .rm-invalid-feedback {
            display: block;
          }
        }
      }
    }
  }
}
