.rm-invalid-feedback {
    display: none;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: var(--_ui5-input-value-state-error-border-color);
}
.rm-input {
    width: 100%;
    
  > input[type=text], > input[type=email], > input[type=password] {
    transition: border-color 0.2s ease-in-out 0s;
    width: var(--_ui5_input_width);
    min-width: var(--_ui5_input_width);
    height: var(--_ui5_input_height);
    color: var(--sapField_TextColor);
    font-size: var(--sapFontSize);
    font-family: "72override",var(--sapFontFamily);
    font-style: normal;
    border-radius: var(--_ui5-input-border-radius);
    box-sizing: border-box;
    line-height: normal;
    letter-spacing: normal;
    word-spacing: normal;
    text-align: start;        
    border: var(--_ui5-input-border);
    background-color: var(--_ui5-input-background-color);
    background-image: var(--_ui5-input-background-image);
    background-size: 100% var(--sapField_BorderWidth);
    background-repeat: repeat-x;
    background-position: center bottom;
    
    &:not([readonly]) {
      &:valid {

        &:hover {
          background-color: var(--sapField_Hover_Background);
          border: var(--_ui5-input-hover-border);
          box-shadow: var(--_ui5-input-hover-box-shadow);
        }
      }

    }
  }

  &[read-only] {
    border-color: var(--_ui5_input_readonly_border_color);
    background: var(--_ui5-input-readonly-background);
  }

  & > input[type=submit] {
    min-width: var(--_ui5_button_base_min_width);
    height: var(--_ui5_button_base_height);
    line-height: normal;
    font-family: var(--_ui5_button_fontFamily);
    font-size: var(--sapFontSize);
    text-shadow: var(--_ui5_button_text_shadow);
    border-radius: var(--_ui5_button_border_radius);
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover {
      background: var(--sapButton_Hover_Background);
      box-shadow: var(--sapContent_Interaction_Shadow);
    }

    &:active {
      outline-color: var(--_ui5_button_focus_outline_focus_color);
      background-color: var(--sapButton_Active_Background);
      color: var(--sapButton_Active_TextColor);
      border-color: --sapButton_Active_BorderColor;
      background-image: none;
    }
  }
}

.rm-input-default {
  input[type=submit] {
    border-color: var(--sapButton_BorderColor);
    background-color: var(--sapButton_Background);
    color: var(--sapButton_TextColor);
  }
}

.rm-input-negative {
  input[type=submit] {
    border-color: var(--sapButton_Reject_BorderColor);
    background-color: var(--sapButton_Reject_Background);
    color: var(--sapButton_Reject_TextColor);
  }
}

