@import './NavBar.scss';

@mixin rm-navbar-sub-item {
  color: var(--sapTextColor);
  font-size: var(--_ui5_list_item_title_size);
  font-family: "72override",var(--sapFontFamily);
  height: var(--_ui5_list_item_base_height);

  &:hover {
    background: var(--sapList_Hover_Background)
  }

  &:active {
    background: var(--sapList_Active_Background);
    color: var(--sapContent_ContrastFocusColor);
  }

}

.rm-navbar-sub-container {
  display: flex;
  flex-direction: column;
}

.rm-navbar-toggler {
  display: block;
  @include rm-navbar-sub-item;
  
  & > span {
    display: inline-block;
    margin-left: 0.375rem;
    width: 0;
    height: 0px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid var(--sapTextColor);
  }
}

.rm-navbar-sub-collapsed {
  display: none;
}

.rm-navbar-sub {
  background: var(--sapList_Background);
  padding: 0.5rem;
  display: inline-flex;
  flex-direction: column;

  button {
    border-style: none;
    cursor: pointer;
    background: var(--ui5-listitem-background-color);
    padding: 0px 1rem;
    @include rm-navbar-sub-item;
  }

  a {
    @include rm-navbar-a;
    padding: 0px 1rem;
    @include rm-navbar-sub-item;

  }

  & > * {

    &::selection {
      color: #fff;
      background: #4A90E2;
    }

    &:focus-visible {
      outline: -webkit-focus-ring-color auto 1px;
    }
  }
}