@import '../../index.scss';

@mixin rm-navbar-text {
  color: var(--sapShell_TextColor);
  margin: 0 0.5rem;
  padding: 0 0.5rem;
  font-family: "72override",var(--sapFontFamily);
}

@mixin rm-navbar-root-common {
    font-size: var(--sapFontSmallSize);
    border-radius: 0.25rem;
    @include rm-navbar-text;
    
    &:hover {
      box-shadow: var(--_ui5_shellbar_button_box_shadow);
      background-color: var(--sapShell_Hover_Background);
    }
}

@mixin rm-navbar-button {
  @include rm-navbar-root-common;
  display: block;
  height: 2.75rem;
  background-color: var(--sapShellColor);
  border: none;
  cursor: pointer;
}

@mixin rm-navbar-brand {
  font-size: 0.75rem;
  font-weight: 700;
  @include rm-navbar-text;
}

@mixin rm-navbar-a {
  text-decoration: none;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}

@mixin rm-navbar-root {
  & > a {
    height: 2.75rem;
    @include rm-navbar-root-common;
    @include rm-navbar-a;
  }

  & > div > button {
    @include rm-navbar-button;
  }
  
  & > button {
    @include rm-navbar-button;
  }

}

.rm-navbar {
  background-color: var(--sapShellColor);
  padding: 0.25rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  & > .rm-navbar-right, .rm-navbar-left {
    display: none;

    & > .rm-navbar-item > button > span {
      border-top: 5px solid var(--sapShell_TextColor);
    }
  }

  & > span.rm-navbar-mobile {
    @include rm-navbar-brand;
  }

  & > .rm-navbar-mobile {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    & > button {
      @include rm-navbar-button;
    }
  }
}

@media (min-width: $breakpoint-s) {
  .rm-navbar {
    & > .rm-navbar-left {
      display: inline-flex;
      align-items: baseline;
      @include rm-navbar-root;

      & > span {
        @include rm-navbar-brand;
      }

    }

    & > .rm-navbar-right {
      display: inline-flex;
      align-items: baseline;
      flex-direction: row-reverse;
      @include rm-navbar-root;
    }
    
    & > .rm-navbar-mobile {
      display: none;
    }
  }
}