$tile-color: lighten(black, 20);

@mixin rm-tile-header-common {
  font-family: "72override",var(--sapFontFamily);
  font-weight: normal;
  margin: 0;
}

.rm-tile {
  display: flex;
  flex-direction: column;
  background: var(--sapList_Background);  
  border-radius: 4px;
  box-shadow: lighten(rgb(0, 0, 0), 10) 0px 1px 3px 0px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  margin: 1rem;
  padding: 1rem;

  &:hover {
    background: var(--sapList_Hover_Background)
  }

  & > .rm-tile-header {
    text-align: left;
    margin-bottom: 1rem;

    & > h2 {
      font-size: 1rem;
      color: $tile-color;
      @include rm-tile-header-common;
    }

    & > h3 {
      @include rm-tile-header-common;
      font-size: .875rem;
      color: lighten($tile-color, 30);
    }

  }

  & > .rm-tile-value-container {
    margin-bottom: 1rem;
    
    & > ui5-icon {
      height: 1.75rem;
      width: 1.75rem;
      padding-right: 0.375rem;

      & > svg {
        height: 100%;
        width: 100%;
      }
    }

    & > .rm-tile-value {
      font-family: "72override",var(--sapFontFamily);
      font-size: 1.75rem;
      color: lighten($tile-color, 30);
      height: 1.75rem;
      display: block;
      float: right;
    }
    
  }

  & > .rm-tile-status-text {
    font-family: "72override",var(--sapFontFamily);
    font-size: .875rem;
  }

}